<div class="headerStyle">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark headerStyle">
      <a class="navbar-brand" href="#">
          <img src="assets/images/binoovo_logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </ul>

        <form (submit)="submit($event)">
            <input [(ngModel)]="query" type="text" name="search" class="form-control" placeholder="Movies..." autofocus>
        </form>
      </div>
    </nav>

    <h1 class="titleBinoovo">Cartelera BinoOvo</h1>
  </div>
</div>
