.app-clickable {
    cursor: pointer;
}

.titleBinoovo{
  background: #C02049;
  text-align: center;
  border: none;
  border-radius: 40px 10px;
  color: #d5bebe;
}

.headerStyle{
  background: #232323 !important;
}
