<div class="container-fluid">

  <h1 class="mt-5">Próximamente en 2020</h1>

  <div class="col-12">
    <ngb-carousel>

      <ng-template ngbSlide>
        <img src="assets/images/godzillaKong.jpeg">
        <div class="carousel-caption">
          <h3>Godzilla vs. Kong</h3>
          <p>Marzo 2020</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/ff9.jpg">
        <div class="carousel-caption">
          <h3>Fast $ Furious 9</h3>
          <p>Abril 2020</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/ww1984.jpg" class="center">
        <div class="carousel-caption">
          <h3>Wonder Woman 1984</h3>
          <p>Junio 2020</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/kingsman.jpg">
        <div class="carousel-caption">
          <h3>The King's Man</h3>
          <p>Septiembre 2020</p>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <img src="assets/images/venom2.jpg">
        <div class="carousel-caption">
          <h3>Venom 2</h3>
          <p>Octubre 2020</p>
        </div>
      </ng-template>

    </ngb-carousel>
  </div>
</div>
