.clickable {
    cursor: pointer;
}

.titleStyle{
  color: #C02049;
  text-align: inherit;
}

.yearStyle{
  color: #d5bebe;
}

.cardStyle {
  background-color: #232323 !important;
  border-radius: 25px;
  border: 2px solid #C02049;
  padding: 10px;
}
